.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-logo path{
  fill: rgb(62, 186, 211);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-bounce infinite alternate .7s ease-out;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-bounce {
  0%{
    transform: translateY(0px) scaleY(.95);
    transform-origin: bottom;
  }
  10% {
    transform: translateY(0) scaleY(.98);
    transform-origin: bottom;
  }
  20%{
    transform: translateY(-10px) scaleY(1);
    transform-origin: bottom;
  }
  100% {
    transition-timing-function: ease-in-out;
    transform: translateY(-60px) ;
  }
}
